<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ListaVIP</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container">

		<form action="salvar" method="post">
			<div class="form-group">
				<label for="nome">Nome completo</label> <input type="text"
					class="form-control" id="nome" name="nome" placeholder="Nome" />
			</div>
			<div class="form-group">
				<label for="quest-1">1 - O Currículo é um documento que reúne informações fundamentais sobre o seu perfil, sua formação escolar, sua evolução profissional, suas habilidades e suas competências.</label>
                <input type="radio" name="quest-1" value="true"/>Verdadeiro
  				<input type="radio" name="quest-1" value="false"/>Falso
			</div>
			<button type="submit" class="btn-success">Enviar dados</button>
		</form>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>